{% extends "base.html" %}
{% block title %}Конструктор (демо){% endblock %}
{% block content %}
<div class="container" style="padding: 32px 16px;">
  <h1>Конструктор (демо)</h1>
  <p>Пример простой модалки. Реальный конструктор у тебя на странице /builder/.</p>

  <button type="button" class="dodo-btn js-open-modal" id="openDemoModal" data-product-id="3"
        data-product-name="{{ p.name }}"
        data-base-price="{{ p.price }}">Открыть модалку</button>
</div>

<div class="modal-container" id="modal_container" aria-hidden="true">
  <div class="modal" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
      <div class="modal-close">
        <img src="/static/img/cros.png" id="close" aria-label="Закрыть"></img>
      </div>
    <div class="modal__grid">
      <!-- СЛЕВА: картинка -->
      <div class="modal__left">
        <div class="donerimg">
          <img class="donerimg__img" src="/static/img/donerwrap.png" alt="Донер">
        </div>
      </div>

      <!-- СПРАВА: управление -->
      <div class="modal__right" id="modalBuilder">
        <h1 id="modalTitle" class="modalTitle">...</h1>
        <div class="control-title">Размер донера</div>
        <div class="seg" id="segSize">
          {% for s in sizes %}
            <button type="button"
                    class="seg__btn {% if forloop.first %}is-active{% endif %}"
                    data-size-id="{{ s.id }}">
              {{ s.code }}
            </button>
          {% endfor %}
        </div>

        <div class="control-title">Основа</div>
        <div class="seg seg--base" id="segBase">
          {% for b in bases %}
            <button type="button"
                    class="seg__btn {% if forloop.first %}is-active{% endif %}"
                    data-base-id="{{ b.id }}">
              {{ b.name }}
            </button>
          {% endfor %}
        </div>

        <h3 class="addons__title">Добавить по вкусу</h3>

        <div class="addons-grid" id="addonsGrid">
          {% for a in addons %}
            <button type="button"
                    class="addon-card"
                    data-addon-id="{{ a.id }}">
              <!-- если нет картинок по допам — будет дефолт -->
<img class="addon-card__img"
     src="{% if a.image_url %}{{ a.image_url.url }}{% else %}/static/img/addon-default.png{% endif %}"
     alt="{{ a.name }}">
              <span class="addon-card__name">{{ a.name }}</span>
              <span class="addon-card__price">{{ a.price }} тг.</span>
            </button>
          {% endfor %}
        </div>

<div class="builder-total">
  <div class="builder-total__price" id="modalTotal">0 тг.</div>

  <!-- ВАЖНО: именно id="modalAddToCart" -->
  <button type="button" class="dodo-btn" id="modalAddToCart">
    В корзину
  </button>
</div>

      </div>
    </div>
  </div>
</div>


  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/script.js"></script>
<form style="display:none">{% csrf_token %}</form>
{% endblock %}
