{% extends "base.html" %}
{% block title %}Лендинг{% endblock %}
{% block content %}

<div class="hero">
  <div class="hero__left">

    <h1 class="hero__title">
      Мы даем вам свободу
      Ради насыщенного Донера
    </h1>

    <p class="explore">Поскорее! Соберите свой собственный Донер</p>
<!-- КНОПКА (можно ставить где угодно: в hero, в секции и т.д.) -->
<a href="/builder/" class="glow-btn">Собрать Донер!</a>
</div>

<div class="hero__right">
    <img class="hero__doner" src="/static/img/donerad.png" alt="Doner">
  </div>
</div>
<div class="productlist">
  <div id="Doner" class="ProductList_productWrapper">
    <h2 class="Doner_name">Донеры</h2>
    <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Говяжий донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
    <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Куриный донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
    <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Ассорти донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
    <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Индейка донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
        </article>
    <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Казы донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
        <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Стрипсы донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
        <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Ананас донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
        <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Мясной донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
  </div>
</div>

<div class="productlist">
  <div id="Doner" class="ProductList_productWrapper">
    <h2 class="Doner_name">Комбо Донеры</h2>
    <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Говяжий донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
    <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Куриный донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
    <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Ассорти донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
    <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Индейка донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
        </article>
    <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Казы донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
        <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Стрипсы донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
        <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Ананас донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
        <article class="wrap1"><img src="/static/img/donerwrap.png" class="donerwrapimg">
      <div class="wrap1text">
        <a href="/builder/" class="link">
          <span class="link1">Мясной донер</span>
        </a>
      </div>
      <p class="product-desc">
  "Острые колбаски чоризо из цыпленка,<br>
  зеленый перец, моцарелла, томатный соус"
</p>
<div class="product-control">
  <div class="product-control-price">
    <span class="money"><span class="money__value">от 1&nbsp;500</span> <span class="money__currency">тг.</span></span>
      <button type="button" class="dodo-btn">Выбрать</button>
  </div>
</div>
    </article>
  </div>
</div>
{% endblock %}
